/* BEGIN (write your solution here) */


/* END */

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  
    /* BEGIN (write your solution here) */
    color: #fff;
    font-size: 16px;
    line-height: 1;
    font-family: "Rubik";
    background-color: #e5e5e5;
    
    /* END */
  }
  
  /* BEGIN (write your solution here) */
  
  
  /* END */
  
  .rounded-green {
    color: #fff;
  
    background: #589c5f;
    border-radius: 50%;
  }
  